$primary: #2c4159;
$secondary: #2196f3;
// $secondary: #26a69a;
$accent: #9c27b0;
$accent1: #2f5a8b;
$accent2: #243345;

$dark: #1d1d1d;

$positive: #178530;
$negative: #c10015;
$info: #2a33d4;
$warning: #f2c037;
$background: #e5e5e5;
