.node {
	padding: 0.3rem 0.5rem;
	margin-bottom: 2px;
	cursor: pointer;
	display: grid;
	grid-template-columns: 1fr auto auto;
	align-items: center;
	&.selected {
		background: #b1ddfc;
		color: $primary;
		.q-btn {
			color: $secondary;
		}
	}
}
.trig {
	font-size: 1.3rem;
	margin-right: 0.5rem;
	transition: 0.2s ease all;
	&.closed {
		transform: rotate(-90deg);
	}
}
.tree {
	font-size: 0.9rem;
}
